Repository SalesforceFoundation/OutboundFundsModule, pull requests merged in 2021-06, with the labels that each got.

#133 W-8603843 - Fix Date disappears from Create Disbursement wizard on edit
  force-app/main/default/aura/disbursementsCreate/disbursementsCreate.cmp
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateController.js
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateHelper.js
  force-app/main/default/lwc/dataTableWrapper/dataTableWrapper.html
  force-app/main/default/lwc/dataTableWrapper/dataTableWrapper.js
  force-app/main/default/lwc/dataTableWrapper/dataTableWrapper.js-meta.xml
Labels: 🎯 this sprint

#137 [Robot] Add Funding Request Role and updated validations in tests
  robot/OutboundFunds/resources/FundingRequestPageObject.py
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/resources/ReviewPageObject.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/tests/browser/Disbursements/Disbursements.robot
  robot/OutboundFunds/tests/browser/FundingProgram/FundingProgram.robot
  robot/OutboundFunds/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
  robot/OutboundFunds/tests/browser/Review/SubmitReview.robot
Labels: Orion :star2:, robot test 🤖

#139 @W-9359339 Feature/jest framework data table wrapper
  force-app/main/default/lwc/dataTableWrapper/__tests__/dataTableWrapper.test.js
Labels: Andromeda :sparkles:, Child Branch, no QE needed, 🎯 this sprint

#140 [Robot] Share a Record
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/resources/OutboundFunds.robot
  robot/OutboundFunds/resources/RequirementPageObject.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/resources/unpackaged/qa/permissionsets/SubmitReview.permissionset-meta.xml
  robot/OutboundFunds/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Labels: Orion :star2:, robot test 🤖

#135 @W-9365221 Add Jest framework
  .cspell.json
  .eslintignore
  .forceignore
  .github/workflows/cspell.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .gitignore
  .lintstagedrc
  cumulusci.yml
  datasets/sample.sql
  force-app/main/default/classes/controllers/disbursementsCreate/disbursementsCreateController.cls
  force-app/main/default/classes/controllers/disbursementsCreate/tests/disbursementsCreateController_TEST.cls
  force-app/main/default/flexipages/Disbursement_Record_Page.flexipage-meta.xml
  force-app/main/default/flexipages/Funding_Program_Record_Page.flexipage-meta.xml
  force-app/main/default/flexipages/Funding_Request_Record_Page.flexipage-meta.xml
  force-app/main/default/flexipages/Funding_Request_Role.flexipage-meta.xml
  force-app/main/default/flexipages/Milestone_Record_Page.flexipage-meta.xml
  force-app/main/default/flexipages/Outbound_Funds_UtilityBar.flexipage-meta.xml
  force-app/main/default/lwc/dataTableWrapper/__tests__/dataTableWrapper.test.js
  force-app/main/default/quickActions/Funding_Request__c.Disbursment_Information.quickAction-meta.xml
  jest.config.js
  jest.setup.js
  package.json
  sfdx-project.json
  yarn.lock
Labels: Andromeda :sparkles:, ready for QE, 🎯 this sprint

#145 [Robot] Review Object test
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/tests/browser/Review/Review.robot
Labels: Orion :star2:, robot test 🤖
